################################################################################
#
# Copyright (C) BadPixxel <www.badpixxel.com>
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
################################################################################

###> symfony/framework-bundle ###
APP_ENV=dev
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:tasking@mysql:3306/tasking"
###< doctrine/doctrine-bundle ###

###> badpixxel/paddock ###
PADDOCK_CONFIG=none
###< badpixxel/paddock ###
