includes:
	- ../../vendor/phpstan/phpstan-phpunit/extension.neon
	- ../../vendor/phpstan/phpstan-doctrine/extension.neon
	- ../../vendor/phpstan/phpstan-symfony/extension.neon
	- ../../vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
        bootstrap: "%currentWorkingDirectory%/vendor/splash/phpcore/Resources/grumphp/phpstan.php"
        checkMissingIterableValueType: false
        checkGenericClassInNonGenericObjectType: false
        inferPrivatePropertyTypeFromConstructor: true 
        universalObjectCratesClasses:
                - ArrayObject
        symfony:
#                container_xml_path: %currentWorkingDirectory%/var/cache/dev/testContainer.xml # or srcDevDebugProjectContainer.xml for Symfony 4+
                container_xml_path: %currentWorkingDirectory%/var/cache/test/appAppKernelTestDebugContainer.xml # or srcDevDebugProjectContainer.xml for Symfony 4+
#                container_xml_path: %currentWorkingDirectory%/var/cache/test/appAppKernelTestDebugContainer.xml # or srcDevDebugProjectContainer.xml for Symfony 4+
        ignoreErrors:
                # Allow Int Compare oin While Loops 
                - '#Comparison operation \"<\" between 0 and [0-9] is always true.#'
                - '#Comparison operation \"<\" between 0 and [0-9][0-9][0-9] is always true.#'
                # Allow Methods & Property Variables calls 
                - '#Variable method call on [a-zA-Z0-9\\]#'
                - '#Variable method call on \$this[a-zA-Z0-9\\()]#'
                - '#Variable property access on \$this[a-zA-Z0-9\\()]#'
                # For Copmpat with Symfony 3 & 4
                - '#Parameter \#1 \$command of class [a-zA-Z0-9\\]+Process constructor expects array, string given.#'
                - '#Call to an undefined static method [a-zA-Z0-9\\]+Process::fromShellCommandline().#'